@media (max-width: 768px) {
  body.subpagina.equipo .hero-equipo {
    margin-top: -10px !important;
  }

  body.subpagina.equipo .frase-superpuesta {
    padding: 4px 16px;
    max-width: 96%;
    top: 44%;
  }

  body.subpagina.equipo .frase-superpuesta h1 {
    font-size: 1em;
  }

  body.subpagina.equipo .frase-superpuesta p {
    font-size: 0.78em;
  }

  body.subpagina.equipo .intro-equipo {
    margin-top: -100px !important;
  }
}
