
@media (max-width: 768px) {
  body.subpagina.equipo .hero-equipo {
    margin-top: -10px !important;
  }

  body.subpagina.equipo .frase-superpuesta {
    padding: 2px 12px;
    max-width: 100%;
    top: 44%;
    white-space: normal;
  }

  body.subpagina.equipo .frase-superpuesta h1 {
    font-size: 1em;
  }

  body.subpagina.equipo .frase-superpuesta p {
    font-size: 0.75em;
    line-height: 1.1;
  }

  body.subpagina.equipo .intro-equipo {
    margin-top: -100px !important;
  }
}
